{%- from 'vars/vm.j2' import settings as virtual_machines_settings %}

{%- set default_options = {
  'dependsOn': [],
  'ignoreChanges': []
} %}

{%- set custom_options = {} %}

{%- set default_properties = {

} %}

{%- set custom_properties = {

} %}

{# 
  'OracleLinux-R9-U4-x86_64-dvd_kickstart.iso': {
      'contentType': 'iso',
      'datastoreId': virtual_machines_settings['iso_datastore_id'],
      'url': 'http://192.168.1.10:8000/images/OracleLinux-R9-U4-x86_64-dvd_kickstart.iso',
      'fileName': 'OracleLinux-R9-U4-x86_64-dvd_kickstart.iso',
      'checksum': '3d4b189af7acc99ef682516752d73cfebe7059d4112c72f293549ad91d24d0492366ba94fd393905feb59b2741c4890050d8b9b20d38d84ab355841bff19eb8c',
      'checksumAlgorithm': 'sha512',
      'uploadTimeout': 3600
  } 
#}

{# 
  'redorescue-4.0.0.iso': {
      'contentType': 'iso',
      'datastoreId': virtual_machines_settings['iso_datastore_id'],
      'url': 'https://downloads.sourceforge.net/project/redobackup/redorescue-4.0.0.iso',
      'fileName': 'redorescue-4.0.0.iso'
      'checksum': '38190c56b2cc458f949b6c66a3f86e46f102fe27fa726d4f1cf3321a7cbce1c3',
      'checksumAlgorithm': 'sha256',
      'uploadTimeout': 1800
  },
#}