{%- from 'vars/nodes.j2' import main as nodes %}


{%- set name = 'provider' %}
{%- set endpoint = 'https://192.168.1.250:8006/' %}
{%- set username = 'root@pam' %}
{%- set password = '1q2w#E$R' %}
{%- set insecure = 'true' %}
{# ssh #}
{% set ns = namespace() %}
{% set ns.ssh = [] %}
{%- for node_name, node_data in nodes.items() %}
  {% do ns['ssh'].append({
    'name':node_name,
    'address': node_data['ssh']['address'],
    'port': node_data['ssh']['port'] if node_data['ssh']['port'] is defined
}) %}
{%- endfor %}
{%- set ssh = {'nodes': ns.ssh} %}
{# /// #}