{%- from 'vars/vm.j2' import settings as virtual_machines_settings %}


{%- set default_options = {
  'dependsOn': [],
  'ignoreChanges': []
} %}

{%- set custom_options = {} %}

{%- set default_properties = {
  'sourceFile': {},
  'sourceRaw': {}
} %}

{%- set custom_properties = {

} %}

{# 
  'cloud-init_root_with_password_and_private_key.yaml': {
      'contentType': 'snippets',
      'datastoreId': virtual_machines_settings['iso_datastore_id'],
      'sourceFile': {
         'path': 'files/snippets/cloud-init_root_with_password_and_private_key.yaml',
      },
      'timeoutUpload': 1200
  }
#}
