{%- macro macro_df(provider_name, df) %}
{{ df['name'] | replace('.', '_') }}-{{ df['nodeName'] | replace('.', '_') }}:
  type: proxmoxve:Download:File
  options:
    provider: {{ '${' ~ provider_name ~ '}'}}
    {{ 'dependsOn: ' ~ df['custom_options']['dependsOn'] | default(df['default_options']['dependsOn']) if df['custom_options']['dependsOn'] | default(df['default_options']['dependsOn']) is defined }}
    {{ 'ignoreChanges: ' ~ df['custom_options']['ignoreChanges'] | default(df['default_options']['ignoreChanges']) if df['custom_options']['ignoreChanges'] | default(df['default_options']['ignoreChanges']) is defined }}
  properties:
    {{ 'checksum: ' ~ df['custom_properties']['checksum'] | default(df['default_properties']['checksum']) if df['custom_properties']['checksum'] | default(df['default_properties']['checksum']) is defined }}
    {{ 'checksumAlgorithm: ' ~ df['custom_properties']['checksumAlgorithm'] | default(df['default_properties']['checksumAlgorithm']) if df['custom_properties']['checksumAlgorithm'] | default(df['default_properties']['checksumAlgorithm']) is defined }}
    {{ 'contentType: ' ~ df['custom_properties']['contentType'] | default(df['default_properties']['contentType']) if df['custom_properties']['contentType'] | default(df['default_properties']['contentType']) is defined }}
    {{ 'datastoreId: ' ~ df['custom_properties']['datastoreId'] | default(df['default_properties']['datastoreId']) if df['custom_properties']['datastoreId'] | default(df['default_properties']['datastoreId']) is defined }}
    {{ 'decompressionAlgorithm: ' ~ df['custom_properties']['decompressionAlgorithm'] | default(df['default_properties']['decompressionAlgorithm']) if df['custom_properties']['decompressionAlgorithm'] | default(df['default_properties']['decompressionAlgorithm']) is defined }}
    {{ 'fileName: ' ~ df['custom_properties']['fileName'] | default(df['default_properties']['fileName']) if df['custom_properties']['fileName'] | default(df['default_properties']['fileName']) is defined }}
    nodeName: {{ df['nodeName'] }}
    {{ 'overwrite: ' ~ df['custom_properties']['overwrite'] | default(df['default_properties']['overwrite']) if df['custom_properties']['overwrite'] | default(df['default_properties']['overwrite']) is defined }}
    {{ 'overwriteUnmanaged: ' ~ df['custom_properties']['overwriteUnmanaged'] | default(df['default_properties']['overwriteUnmanaged']) if df['custom_properties']['overwriteUnmanaged'] | default(df['default_properties']['overwriteUnmanaged']) is defined }}
    {{ 'uploadTimeout: ' ~ df['custom_properties']['uploadTimeout'] | default(df['default_properties']['uploadTimeout']) if df['custom_properties']['uploadTimeout'] | default(df['default_properties']['uploadTimeout']) is defined }}
    {{ 'url: ' ~ df['custom_properties']['url'] | default(df['default_properties']['url']) if df['custom_properties']['url'] | default(df['default_properties']['url']) is defined }}
    {{ 'verify: ' ~ df['custom_properties']['verify'] | default(df['default_properties']['verify']) if df['custom_properties']['verify'] | default(df['default_properties']['verify']) is defined }}
{% endmacro %}
