{%- macro macro_sf(provider_name, sf) %}
{{ sf['name'] | replace('.', '_') }}-{{ sf['nodeName'] | replace('.', '_') }}:
  type: proxmoxve:Storage:File
  options:
    provider: {{ '${' ~ provider_name ~ '}'}}
    {{ 'dependsOn: ' ~ sf['custom_options']['dependsOn'] | default(sf['default_options']['dependsOn']) if sf['custom_options']['dependsOn'] | default(sf['default_options']['dependsOn']) is defined }}
    {{ 'ignoreChanges: ' ~ sf['custom_options']['ignoreChanges'] | default(sf['default_options']['ignoreChanges']) if sf['custom_options']['ignoreChanges'] | default(sf['default_options']['ignoreChanges']) is defined }}
  properties:
    {{ 'contentType: ' ~ sf['custom_properties']['contentType'] | default(sf['default_properties']['contentType']) if sf['custom_properties']['contentType'] | default(sf['default_properties']['contentType']) is defined }}
    {{ 'datastoreId: ' ~ sf['custom_properties']['datastoreId'] | default(sf['default_properties']['datastoreId']) if sf['custom_properties']['datastoreId'] | default(sf['default_properties']['datastoreId']) is defined }}
    nodeName: {{ sf['nodeName'] }}
    {{ 'overwrite: ' ~ sf['custom_properties']['overwrite'] | default(sf['default_properties']['overwrite']) if sf['custom_properties']['overwrite'] | default(sf['default_properties']['overwrite']) is defined }}
  {%- if sf['custom_properties']['sourceFile'] is defined %}
    sourceFile:
      {{ 'changed: ' ~ sf['custom_properties']['sourceFile']['changed'] | default(sf['default_properties']['sourceFile']['changed']) if sf['custom_properties']['sourceFile']['changed'] | default(sf['default_properties']['sourceFile']['changed']) is defined }}
      {{ 'checksum: ' ~ sf['custom_properties']['sourceFile']['checksum'] | default(sf['default_properties']['sourceFile']['checksum']) if sf['custom_properties']['sourceFile']['checksum'] | default(sf['default_properties']['sourceFile']['checksum']) is defined }}
      {{ 'fileName: ' ~ sf['custom_properties']['sourceFile']['fileName'] | default(sf['default_properties']['sourceFile']['fileName']) if sf['custom_properties']['sourceFile']['fileName'] | default(sf['default_properties']['sourceFile']['fileName']) is defined }}
      {{ 'insecure: ' ~ sf['custom_properties']['sourceFile']['insecure'] | default(sf['default_properties']['sourceFile']['insecure']) if sf['custom_properties']['sourceFile']['insecure'] | default(sf['default_properties']['sourceFile']['insecure']) is defined }}
      {{ 'minTls: ' ~ sf['custom_properties']['sourceFile']['minTls'] | default(sf['default_properties']['sourceFile']['minTls']) if sf['custom_properties']['sourceFile']['minTls'] | default(sf['default_properties']['sourceFile']['minTls']) is defined }}
      {{ 'path: ' ~ sf['custom_properties']['sourceFile']['path'] | default(sf['default_properties']['sourceFile']['path']) if sf['custom_properties']['sourceFile']['path'] | default(sf['default_properties']['sourceFile']['path']) is defined }}
  {%- endif %}
  {%- if sf['custom_properties']['sourceRaw'] is defined %}
    sourceRaw:
      {{ 'data: ' ~ sf['custom_properties']['sourceRaw']['data'] | default(sf['default_properties']['sourceRaw']['data']) if sf['custom_properties']['sourceRaw']['data'] | default(sf['default_properties']['sourceRaw']['data']) is defined }}
      {{ 'fileName: ' ~ sf['custom_properties']['sourceRaw']['fileName'] | default(sf['default_properties']['sourceRaw']['fileName']) if sf['custom_properties']['sourceRaw']['fileName'] | default(sf['default_properties']['sourceRaw']['fileName']) is defined }}
      {{ 'resize: ' ~ sf['custom_properties']['sourceRaw']['resize'] | default(sf['default_properties']['sourceRaw']['resize']) if sf['custom_properties']['sourceRaw']['resize'] | default(sf['default_properties']['sourceRaw']['resize']) is defined }}
  {%- endif %}
    {{ 'timeoutUpload: ' ~ sf['custom_properties']['timeoutUpload'] | default(sf['default_properties']['timeoutUpload']) if sf['custom_properties']['timeoutUpload'] | default(sf['default_properties']['timeoutUpload']) is defined }}
{% endmacro %}
