{%- macro macro_vm(provider_name, vm) %}
{{ vm['name'] | replace('.', '_') }}:
  type: proxmoxve:VM:VirtualMachine
  options:
    provider: {{ '${' ~ provider_name ~ '}'}}
    {{ 'dependsOn: ' ~ vm['custom_options']['dependsOn'] | default(vm['default_options']['dependsOn']) if vm['custom_options']['dependsOn'] | default(vm['default_options']['dependsOn']) is defined }}
    {{ 'ignoreChanges: ' ~ vm['custom_options']['ignoreChanges'] | default(vm['default_options']['ignoreChanges']) if vm['custom_options']['ignoreChanges'] | default(vm['default_options']['ignoreChanges']) is defined }}
  properties:
    {{ 'acpi: ' ~ vm['custom_properties']['acpi'] | default(vm['default_properties']['acpi']) if vm['custom_properties']['acpi'] | default(vm['default_properties']['acpi']) is defined }}
  {%- if vm['custom_properties']['agent'] is defined %}
    agent:
      {{ 'enabled: ' ~ vm['custom_properties']['agent']['enabled'] | default(vm['default_properties']['agent']['enabled']) if vm['custom_properties']['agent']['enabled'] | default(vm['default_properties']['agent']['enabled']) is defined }}
      {{ 'timeout: ' ~ vm['custom_properties']['agent']['timeout'] | default(vm['default_properties']['agent']['timeout']) if vm['custom_properties']['agent']['timeout'] | default(vm['default_properties']['agent']['timeout']) is defined }}
      {{ 'trim: ' ~ vm['custom_properties']['agent']['trim'] | default(vm['default_properties']['agent']['trim']) if vm['custom_properties']['agent']['trim'] | default(vm['default_properties']['agent']['trim']) is defined }}
      {{ 'type: ' ~ vm['custom_properties']['agent']['type'] | default(vm['default_properties']['agent']['type']) if vm['custom_properties']['agent']['type'] | default(vm['default_properties']['agent']['type']) is defined }}
  {%- else %}
    {{ 'agent: ' ~ vm['default_properties']['agent'] if vm['default_properties']['agent'] is defined }}
  {%- endif %}
  {%- if vm['custom_properties']['audioDevice'] is defined %}
      {{ 'device: ' ~ vm['custom_properties']['audioDevice']['device'] | default(vm['default_properties']['audioDevice']['device']) if vm['custom_properties']['audioDevice']['device'] | default(vm['default_properties']['audioDevice']['device']) is defined }}
      {{ 'driver: ' ~ vm['custom_properties']['audioDevice']['driver'] | default(vm['default_properties']['audioDevice']['driver']) if vm['custom_properties']['audioDevice']['driver'] | default(vm['default_properties']['audioDevice']['driver']) is defined }}
      {{ 'enabled: ' ~ vm['custom_properties']['audioDevice']['enabled'] | default(vm['default_properties']['audioDevice']['enabled']) if vm['custom_properties']['audioDevice']['enabled'] | default(vm['default_properties']['audioDevice']['enabled']) is defined }}
  {%- else %}
    {{ 'audioDevice: ' ~ vm['default_properties']['audioDevice'] if vm['default_properties']['audioDevice'] is defined }}
  {%- endif %}
    {{ 'bios: ' ~ vm['custom_properties']['bios'] | default(vm['default_properties']['bios']) if vm['custom_properties']['bios'] | default(vm['default_properties']['bios']) is defined }}
    {{ 'bootOrders: ' ~ vm['custom_properties']['bootOrders'] | default(vm['default_properties']['bootOrders']) if vm['custom_properties']['bootOrders'] | default(vm['default_properties']['bootOrders']) is defined }}
  {%- if vm['custom_properties']['cdrom'] is defined %}
    cdrom:
      {{ 'enabled: ' ~ vm['custom_properties']['cdrom']['enabled'] | default(vm['default_properties']['cdrom']['enabled']) if vm['custom_properties']['cdrom']['enabled'] | default(vm['default_properties']['cdrom']['enabled']) is defined }}
      {{ 'fileId: ' ~ vm['custom_properties']['cdrom']['fileId'] | default(vm['default_properties']['cdrom']['fileId']) if vm['custom_properties']['cdrom']['fileId'] | default(vm['default_properties']['cdrom']['fileId']) is defined }}
      {{ 'interface: ' ~ vm['custom_properties']['cdrom']['interface'] | default(vm['default_properties']['cdrom']['interface']) if vm['custom_properties']['cdrom']['interface'] | default(vm['default_properties']['cdrom']['interface']) is defined }}
  {%- else %}
    {{ 'cdrom: ' ~ vm['default_properties']['cdrom'] if vm['default_properties']['cdrom'] is defined }}
  {%- endif %}
  {%- if vm['custom_properties']['clone'] is defined %}
    clone:
      {{ 'datastoreId: ' ~ vm['custom_properties']['clone']['datastoreId'] | default(vm['default_properties']['clone']['datastoreId']) if vm['custom_properties']['clone']['datastoreId'] | default(vm['default_properties']['clone']['datastoreId']) is defined }}
      {{ 'full: ' ~ vm['custom_properties']['clone']['full'] | default(vm['default_properties']['clone']['full']) if vm['custom_properties']['clone']['full'] | default(vm['default_properties']['clone']['full']) is defined }}
      {{ 'nodeName: ' ~ vm['custom_properties']['clone']['nodeName'] | default(vm['default_properties']['clone']['nodeName']) if vm['custom_properties']['clone']['nodeName'] | default(vm['default_properties']['clone']['nodeName']) is defined }}
      {{ 'retries: ' ~ vm['custom_properties']['clone']['retries'] | default(vm['default_properties']['clone']['retries']) if vm['custom_properties']['clone']['retries'] | default(vm['default_properties']['clone']['retries']) is defined }}
      {{ 'vmId: ' ~ vm['custom_properties']['clone']['vmId'] | default(vm['default_properties']['clone']['vmId']) if vm['custom_properties']['clone']['vmId'] | default(vm['default_properties']['clone']['vmId']) is defined }}
  {%- endif %}
  {%- if vm['custom_properties']['cpu'] is defined %}
    cpu:
      {{ 'cores: ' ~ vm['custom_properties']['cpu']['cores'] | default(vm['default_properties']['cpu']['cores']) if vm['custom_properties']['cpu']['cores'] | default(vm['default_properties']['cpu']['cores']) is defined }}
      {{ 'sockets: ' ~ vm['custom_properties']['cpu']['sockets'] | default(vm['default_properties']['cpu']['sockets']) if vm['custom_properties']['cpu']['sockets'] | default(vm['default_properties']['cpu']['sockets']) is defined }}
      {{ 'type: ' ~ vm['custom_properties']['cpu']['type'] | default(vm['default_properties']['cpu']['type']) if vm['custom_properties']['cpu']['type'] | default(vm['default_properties']['cpu']['type']) is defined }}
      {{ 'affinity: ' ~ vm['custom_properties']['cpu']['affinity'] | default(vm['default_properties']['cpu']['affinity']) if vm['custom_properties']['cpu']['affinity'] | default(vm['default_properties']['cpu']['affinity']) is defined }}
      {{ 'architecture: ' ~ vm['custom_properties']['cpu']['architecture'] | default(vm['default_properties']['cpu']['architecture']) if vm['custom_properties']['cpu']['architecture'] | default(vm['default_properties']['cpu']['architecture']) is defined }}
      {{ 'units: ' ~ vm['custom_properties']['cpu']['units'] | default(vm['default_properties']['cpu']['units']) if vm['custom_properties']['cpu']['units'] | default(vm['default_properties']['cpu']['units']) is defined }}
      {{ 'numa: ' ~ vm['custom_properties']['cpu']['numa'] | default(vm['default_properties']['cpu']['numa']) if vm['custom_properties']['cpu']['numa'] | default(vm['default_properties']['cpu']['numa']) is defined }}
      {{ 'limit: ' ~ vm['custom_properties']['cpu']['limit'] | default(vm['default_properties']['cpu']['limit']) if vm['custom_properties']['cpu']['limit'] | default(vm['default_properties']['cpu']['limit']) is defined }}
      {{ 'hotplugged: ' ~ vm['custom_properties']['cpu']['hotplugged'] | default(vm['default_properties']['cpu']['hotplugged']) if vm['custom_properties']['cpu']['hotplugged'] | default(vm['default_properties']['cpu']['hotplugged']) is defined }}
      {{ 'flags: ' ~ vm['custom_properties']['cpu']['flags'] | default(vm['default_properties']['cpu']['flags']) if vm['custom_properties']['cpu']['flags'] | default(vm['default_properties']['cpu']['flags']) is defined }}
  {%- else %}
    {{ 'cpu: ' ~ vm['default_properties']['cpu'] if vm['default_properties']['cpu'] is defined }}
  {%- endif %}
    {{ 'description: ' ~ vm['custom_properties']['description'] | default(vm['default_properties']['description']) if vm['custom_properties']['description'] | default(vm['default_properties']['description']) is defined }}
  {%- if vm['custom_properties']['disks'] is defined %}
    disks:
    {%- for disk in vm['custom_properties']['disks'] %}
      {%- set interface_device_number = loop['index'] if vm['custom_properties']['bios'] | default(vm['default_properties']['bios']) == 'ovmf' else loop['index0'] %}
      {%- set disk_data = {
        'aio': disk['aio'] | default(vm['default_properties']['disks']['aio']) if disk['aio'] | default(vm['default_properties']['disks']['aio']) is defined,
        'backup': disk['backup'] | default(vm['default_properties']['disks']['backup']) if disk['backup'] | default(vm['default_properties']['disks']['backup']) is defined,
        'cache': disk['cache'] | default(vm['default_properties']['disks']['cache']) if disk['cache'] | default(vm['default_properties']['disks']['cache']) is defined,
        'datastoreId': disk['datastoreId'] | default(vm['default_properties']['disks']['datastoreId']) if disk['datastoreId'] | default(vm['default_properties']['disks']['datastoreId']) is defined,
        'discard': disk['discard'] | default(vm['default_properties']['disks']['discard']) if disk['discard'] | default(vm['default_properties']['disks']['discard']) is defined,
        'fileFormat': disk['fileFormat'] | default(vm['default_properties']['disks']['fileFormat']) if disk['fileFormat'] | default(vm['default_properties']['disks']['fileFormat']) is defined,
        'fileId': disk['fileId'] | default(vm['default_properties']['disks']['fileId']) if disk['fileId'] | default(vm['default_properties']['disks']['fileId']) is defined,
        'interface': disk['interface'] | default(vm['default_properties']['disks']['interface']) ~ interface_device_number if disk['interface'] | default(vm['default_properties']['disks']['interface']) is defined,
        'iothread': disk['iothread'] | default(vm['default_properties']['disks']['iothread']) if disk['iothread'] | default(vm['default_properties']['disks']['iothread']) is defined,
        'pathInDatastore': disk['pathInDatastore'] | default(vm['default_properties']['disks']['pathInDatastore']) if disk['pathInDatastore'] | default(vm['default_properties']['disks']['pathInDatastore']) is defined,
        'replicate': disk['replicate'] | default(vm['default_properties']['disks']['replicate']) if disk['replicate'] | default(vm['default_properties']['disks']['replicate']) is defined,
        'size': disk['size'] | default(vm['default_properties']['disks']['size']) if disk['size'] | default(vm['default_properties']['disks']['size']) is defined,
        'speed': disk['speed'] | default(vm['default_properties']['disks']['speed']) if disk['speed'] | default(vm['default_properties']['disks']['speed']) is defined,
        'ssd': disk['ssd'] | default(vm['default_properties']['disks']['ssd']) if disk['ssd'] | default(vm['default_properties']['disks']['ssd']) is defined,
        } %}
      {%- for k,v in disk_data.items() if v is defined %}
      {{ '- ' if loop['index0'] == 0 else '  ' }}{{ (k ~ ': ' ~ v) }}
      {%- endfor %}
    {%- endfor %}
  {%- endif %}
  {%- if vm['custom_properties']['bios'] | default(vm['default_properties']['bios']) == 'ovmf' %}
    {%- if vm['custom_properties']['efiDisk'] is defined %}
    efiDisk:
      {{ 'datastoreId: ' ~ vm['custom_properties']['efiDisk']['datastoreId'] | default(vm['default_properties']['efiDisk']['datastoreId']) if vm['custom_properties']['efiDisk']['datastoreId'] | default(vm['default_properties']['efiDisk']['datastoreId']) is defined }}
      {{ 'preEnrolledKeys: ' ~ vm['custom_properties']['efiDisk']['preEnrolledKeys'] | default(vm['default_properties']['efiDisk']['preEnrolledKeys']) if vm['custom_properties']['efiDisk']['preEnrolledKeys'] | default(vm['default_properties']['efiDisk']['preEnrolledKeys']) is defined }}
      {{ 'type: ' ~ vm['custom_properties']['efiDisk']['type'] | default(vm['default_properties']['efiDisk']['type']) if vm['custom_properties']['efiDisk']['type'] | default(vm['default_properties']['efiDisk']['type']) is defined }}
      {{ 'fileFormat: ' ~ vm['custom_properties']['efiDisk']['fileFormat'] | default(vm['default_properties']['efiDisk']['fileFormat']) if vm['custom_properties']['efiDisk']['fileFormat'] | default(vm['default_properties']['efiDisk']['fileFormat']) is defined }}
    {%- else %}
    {{ 'efiDisk: ' ~ vm['default_properties']['efiDisk'] if vm['default_properties']['efiDisk'] is defined }}
    {%- endif %}
  {%- endif %}
    {{ 'hookScriptFileId: ' ~ vm['custom_properties']['hookScriptFileId'] | default(vm['default_properties']['hookScriptFileId']) if vm['custom_properties']['hookScriptFileId'] | default(vm['default_properties']['hookScriptFileId']) is defined }}
  {%- if vm['custom_properties']['hostpcis'] is defined %}
    hostpcis:
    {%- for device in vm['custom_properties']['hostpcis'] %}
      {%- set device_data = {
        'device': device['device'] | default(vm['default_properties']['hostpcis']['device']) if device['device'] | default(vm['default_properties']['hostpcis']['device']) is defined,
        'id': device['id'] | default(vm['default_properties']['hostpcis']['id']) if device['id'] | default(vm['default_properties']['hostpcis']['id']) is defined,
        'mapping': device['mapping'] | default(vm['default_properties']['hostpcis']['mapping']) if device['mapping'] | default(vm['default_properties']['hostpcis']['mapping']) is defined,
        'mdev': device['mdev'] | default(vm['default_properties']['hostpcis']['mdev']) if device['mdev'] | default(vm['default_properties']['hostpcis']['mdev']) is defined,
        'pcie': device['pcie'] | default(vm['default_properties']['hostpcis']['pcie']) if device['pcie'] | default(vm['default_properties']['hostpcis']['pcie']) is defined,
        'romFile': device['romFile'] | default(vm['default_properties']['hostpcis']['romFile']) if device['romFile'] | default(vm['default_properties']['hostpcis']['romFile']) is defined,
        'rombar': device['rombar'] | default(vm['default_properties']['hostpcis']['rombar']) if device['rombar'] | default(vm['default_properties']['hostpcis']['rombar']) is defined,
        'xvga': device['xvga'] | default(vm['default_properties']['hostpcis']['xvga']) if device['xvga'] | default(vm['default_properties']['hostpcis']['xvga']) is defined,
        } %}
      {%- for k,v in device_data.items() if v is defined %}
      {{ '- ' if loop['index0'] == 0 else '  ' }}{{ (k ~ ': ' ~ v) }}
      {%- endfor %}
    {%- endfor %}
  {%- endif %}
  {%- if vm['custom_properties']['initialization'] is defined %}
    initialization:
      {{ 'datastoreId: ' ~ vm['custom_properties']['initialization']['datastoreId'] | default(vm['default_properties']['initialization']['datastoreId']) if vm['custom_properties']['initialization']['datastoreId'] | default(vm['default_properties']['initialization']['datastoreId']) is defined }}
    {%- if vm['custom_properties']['initialization']['dns'] is defined %}
      dns:
        {{ 'domain: ' ~ vm['custom_properties']['initialization']['dns']['domain'] | default(vm['default_properties']['initialization']['dns']['domain']) if vm['custom_properties']['initialization']['dns']['domain'] | default(vm['default_properties']['initialization']['dns']['domain']) is defined }}
        {{ 'servers: ' ~ vm['custom_properties']['initialization']['dns']['servers'] | default(vm['default_properties']['initialization']['dns']['servers']) if vm['custom_properties']['initialization']['dns']['servers'] | default(vm['default_properties']['initialization']['dns']['servers']) is defined }}
    {%- endif %}
      {{ 'interface: ' ~ vm['custom_properties']['initialization']['interface'] | default(vm['default_properties']['initialization']['interface']) if vm['custom_properties']['initialization']['interface'] | default(vm['default_properties']['initialization']['interface']) is defined }}
    {%- if vm['custom_properties']['initialization']['ipConfigs'] is defined %}
      ipConfigs:
      {%- for interface in vm['custom_properties']['initialization']['ipConfigs'] %}
        {%- set interface_data = {
          'ipv4': {
            'address': interface['ipv4']['address'] if interface['ipv4'] is defined and interface['ipv4']['address'] is defined else '',
            'gateway': interface['ipv4']['gateway'] | default(vm['default_properties']['initialization']['ipConfigs']['ipv4']['gateway']) if interface['ipv4'] is defined and interface['ipv4']['address'] is defined and interface['ipv4']['gateway'] | default(vm['default_properties']['initialization']['ipConfigs']['ipv4']['gateway']) is defined else ''
          },
          'ipv6': {
            'address': interface['ipv6']['address'] if interface['ipv6'] is defined and interface['ipv6']['address'] is defined else '',
            'gateway': interface['ipv6']['gateway'] | default(vm['default_properties']['initialization']['ipConfigs']['ipv6']['gateway']) if interface['ipv6'] is defined and interface['ipv6']['address'] is defined and interface['ipv6']['gateway'] | default(vm['default_properties']['initialization']['ipConfigs']['ipv6']['gateway']) is defined else ''
          }
        } %}
        {%- for k,v in interface_data.items() if v is defined %}
        {{ '- ' if loop['index0'] == 0 else '  ' }}{{ (k ~ ':') if v['address'] != '' or v['gateway'] != '' }}
            {{ 'address: ' ~ v['address'] if v['address'] != '' }}
            {{ 'gateway: ' ~ v['gateway'] if v['gateway'] != '' }}
        {%- endfor %}
      {%- endfor %}
    {%- endif %}
      {{ 'metaDataFileId: ' ~ vm['custom_properties']['initialization']['metaDataFileId'] | default(vm['default_properties']['initialization']['metaDataFileId']) if vm['custom_properties']['initialization']['metaDataFileId'] | default(vm['default_properties']['initialization']['metaDataFileId']) is defined }}
      {{ 'networkDataFileId: ' ~ vm['custom_properties']['initialization']['networkDataFileId'] | default(vm['default_properties']['initialization']['networkDataFileId']) if vm['custom_properties']['initialization']['networkDataFileId'] | default(vm['default_properties']['initialization']['networkDataFileId']) is defined }}
      {{ 'type: ' ~ vm['custom_properties']['initialization']['type'] | default(vm['default_properties']['initialization']['type']) if vm['custom_properties']['initialization']['type'] | default(vm['default_properties']['initialization']['type']) is defined }}
      {{ 'upgrade: ' ~ vm['custom_properties']['initialization']['upgrade'] | default(vm['default_properties']['initialization']['upgrade']) if vm['custom_properties']['initialization']['upgrade'] | default(vm['default_properties']['initialization']['upgrade']) is defined }}
    {%- if vm['custom_properties']['initialization']['userAccount'] is defined %}
      userAccount:
        {{ 'keys: ' ~ vm['custom_properties']['initialization']['userAccount']['keys'] | default(vm['default_properties']['initialization']['userAccount']['keys']) if vm['custom_properties']['initialization']['userAccount']['keys'] | default(vm['default_properties']['initialization']['userAccount']['keys']) is defined }}
        {{ 'password: ' ~ vm['custom_properties']['initialization']['userAccount']['password'] | default(vm['default_properties']['initialization']['userAccount']['password']) if vm['custom_properties']['initialization']['userAccount']['password'] | default(vm['default_properties']['initialization']['userAccount']['password']) is defined }}
        {{ 'username: ' ~ vm['custom_properties']['initialization']['userAccount']['username'] | default(vm['default_properties']['initialization']['userAccount']['username']) if vm['custom_properties']['initialization']['userAccount']['username'] | default(vm['default_properties']['initialization']['userAccount']['username']) is defined }}
    {%- endif %}
      {{ 'userDataFileId: ' ~ vm['custom_properties']['initialization']['userDataFileId'] | default(vm['default_properties']['initialization']['userDataFileId']) if vm['custom_properties']['initialization']['userDataFileId'] | default(vm['default_properties']['initialization']['userDataFileId']) is defined }}
      {{ 'vendorDataFileId: ' ~ vm['custom_properties']['initialization']['vendorDataFileId'] | default(vm['default_properties']['initialization']['vendorDataFileId']) if vm['custom_properties']['initialization']['vendorDataFileId'] | default(vm['default_properties']['initialization']['vendorDataFileId']) is defined }}
  {%- endif %}
    {{ 'keyboardLayout: ' ~ vm['custom_properties']['keyboardLayout'] | default(vm['default_properties']['keyboardLayout']) if vm['custom_properties']['keyboardLayout'] | default(vm['default_properties']['keyboardLayout']) is defined }}
    {{ 'kvmArguments: ' ~ vm['custom_properties']['kvmArguments'] | default(vm['default_properties']['kvmArguments']) if vm['custom_properties']['kvmArguments'] | default(vm['default_properties']['kvmArguments']) is defined }}
    {{ 'macAddresses: ' ~ vm['custom_properties']['macAddresses'] if vm['custom_properties']['macAddresses'] is defined }}
    {{ 'machine: ' ~ vm['custom_properties']['machine'] | default(vm['default_properties']['machine']) if vm['custom_properties']['machine'] | default(vm['default_properties']['machine']) is defined }}
  {%- if vm['custom_properties']['memory'] is defined %}
    memory:
      {{ 'dedicated: ' ~ vm['custom_properties']['memory']['dedicated'] | default(vm['default_properties']['memory']['dedicated']) if vm['custom_properties']['memory']['dedicated'] | default(vm['default_properties']['memory']['dedicated']) is defined }}
      {{ 'floating: ' ~ vm['custom_properties']['memory']['floating'] | default(vm['default_properties']['memory']['floating']) if vm['custom_properties']['memory']['floating'] | default(vm['default_properties']['memory']['floating']) is defined }}
      {{ 'hugepages: ' ~ vm['custom_properties']['memory']['hugepages'] | default(vm['default_properties']['memory']['hugepages']) if vm['custom_properties']['memory']['hugepages'] | default(vm['default_properties']['memory']['hugepages']) is defined }}
      {{ 'keepHugepages: ' ~ vm['custom_properties']['memory']['keepHugepages'] | default(vm['default_properties']['memory']['keepHugepages']) if vm['custom_properties']['memory']['keepHugepages'] | default(vm['default_properties']['memory']['keepHugepages']) is defined }}
      {{ 'shared: ' ~ vm['custom_properties']['memory']['shared'] | default(vm['default_properties']['memory']['shared']) if vm['custom_properties']['memory']['shared'] | default(vm['default_properties']['memory']['shared']) is defined }}
  {%- else %}
    {{ 'memory: ' ~ vm['default_properties']['memory'] if vm['default_properties']['memory'] is defined }}
  {%- endif %}
    {{ 'migrate: ' ~ vm['custom_properties']['migrate'] | default(vm['default_properties']['migrate']) if vm['custom_properties']['migrate'] | default(vm['default_properties']['migrate']) is defined }}
    name: {{ vm['name'] }}
  {%- if vm['custom_properties']['networkDevices'] is defined %}
    networkDevices:
    {%- for network_device in vm['custom_properties']['networkDevices']  %}
      {%- set network_interface_data = {
        'bridge': network_device['bridge'] | default(vm['default_properties']['networkDevices']['bridge']) if network_device['bridge'] | default(vm['default_properties']['networkDevices']['bridge']) is defined,
        'disconnected': network_device['disconnected'] | default(vm['default_properties']['networkDevices']['disconnected']) if network_device['disconnected'] | default(vm['default_properties']['networkDevices']['disconnected']) is defined,
        'enabled': network_device['enabled'] | default(vm['default_properties']['networkDevices']['enabled']) if network_device['enabled'] | default(vm['default_properties']['networkDevices']['enabled']) is defined,
        'firewall': network_device['firewall'] | default(vm['default_properties']['networkDevices']['firewall']) if network_device['firewall'] | default(vm['default_properties']['networkDevices']['firewall']) is defined,
        'macAddress': network_device['macAddress'] | default(vm['default_properties']['networkDevices']['macAddress']) if network_device['macAddress'] | default(vm['default_properties']['networkDevices']['macAddress']) is defined,
        'model': network_device['model'] | default(vm['default_properties']['networkDevices']['model']) if network_device['model'] | default(vm['default_properties']['networkDevices']['model']) is defined,
        'mtu': network_device['mtu'] | default(vm['default_properties']['networkDevices']['mtu']) if network_device['mtu'] | default(vm['default_properties']['networkDevices']['mtu']) is defined,
        'queues': network_device['queues'] | default(vm['default_properties']['networkDevices']['queues']) if network_device['queues'] | default(vm['default_properties']['networkDevices']['queues']) is defined,
        'rateLimit': network_device['rateLimit'] | default(vm['default_properties']['networkDevices']['rateLimit']) if network_device['rateLimit'] | default(vm['default_properties']['networkDevices']['rateLimit']) is defined,
        'trunks': network_device['trunks'] | default(vm['default_properties']['networkDevices']['trunks']) if network_device['trunks'] | default(vm['default_properties']['networkDevices']['trunks']) is defined,
        'vlanId': network_device['vlanId'] | default(vm['default_properties']['networkDevices']['vlanId']) if network_device['vlanId'] | default(vm['default_properties']['networkDevices']['vlanId']) is defined,
        } %}
      {%- for k,v in network_interface_data.items() if v is defined %}
      {{ '- ' if loop['index0'] == 0 else '  ' }}{{ (k ~ ': ' ~ v) }}
      {%- endfor %}
    {%- endfor %}
  {%- endif %}
    {{ 'nodeName: ' ~ vm['custom_properties']['nodeName'] | default(vm['default_properties']['nodeName']) if vm['custom_properties']['nodeName'] | default(vm['default_properties']['nodeName']) is defined }}
  {%- if vm['custom_properties']['numas'] is defined %}
    numas:
    {%- for numa in vm['custom_properties']['numas']  %}
      {%- set numa_data = {
        'cpus': numa['cpus'] | default(vm['default_properties']['numas']['cpus']) if numa['cpus'] | default(vm['default_properties']['numas']['cpus']) is defined,
        'device': numa['device'] | default(vm['default_properties']['numas']['device']) if numa['device'] | default(vm['default_properties']['numas']['device']) is defined,
        'hostnodes': numa['hostnodes'] | default(vm['default_properties']['numas']['hostnodes']) if numa['hostnodes'] | default(vm['default_properties']['numas']['hostnodes']) is defined,
        'memory': numa['memory'] | default(vm['default_properties']['numas']['memory']) if numa['memory'] | default(vm['default_properties']['numas']['memory']) is defined,
        'policy': numa['policy'] | default(vm['default_properties']['numas']['policy']) if numa['policy'] | default(vm['default_properties']['numas']['policy']) is defined,
        } %}
      {%- for k,v in numa_data.items() if v is defined %}
      {{ '- ' if loop['index0'] == 0 else '  ' }}{{ (k ~ ': ' ~ v) }}
      {%- endfor %}
    {%- endfor %}
  {%- endif %}
    {{ 'onBoot: ' ~ vm['custom_properties']['onBoot'] | default(vm['default_properties']['onBoot']) if vm['custom_properties']['onBoot'] | default(vm['default_properties']['onBoot']) is defined }}
    {{ 'operatingSystem: ' ~ vm['custom_properties']['operatingSystem'] | default(vm['default_properties']['operatingSystem']) if vm['custom_properties']['operatingSystem'] | default(vm['default_properties']['operatingSystem']) is defined }}
    {{ 'poolId: ' ~ vm['custom_properties']['poolId'] | default(vm['default_properties']['poolId']) if vm['custom_properties']['poolId'] | default(vm['default_properties']['poolId']) is defined }}
    {{ 'protection: ' ~ vm['custom_properties']['protection'] | default(vm['default_properties']['protection']) if vm['custom_properties']['protection'] | default(vm['default_properties']['protection']) is defined }}
    {{ 'reboot: ' ~ vm['custom_properties']['reboot'] | default(vm['default_properties']['reboot']) if vm['custom_properties']['reboot'] | default(vm['default_properties']['reboot']) is defined }}
    {{ 'scsiHardware: ' ~ vm['custom_properties']['scsiHardware'] | default(vm['default_properties']['scsiHardware']) if vm['custom_properties']['scsiHardware'] | default(vm['default_properties']['scsiHardware']) is defined }}
  {%- if vm['custom_properties']['serialDevices'] | default(vm['default_properties']['serialDevices']) is defined %}
    serialDevices:
    {%- for serial_device in vm['custom_properties']['serialDevices'] | default(vm['default_properties']['serialDevices']) %}
      {%- for k,v in serial_device.items() %}
        - {{ k }}: {{ v }}
      {%- endfor %}
    {%- endfor %}
  {%- endif %}
  {%- if vm['custom_properties']['smbios'] is defined %}
    smbios:
      {{ 'family: ' ~ vm['custom_properties']['smbios']['family'] | default(vm['default_properties']['smbios']['family']) if vm['custom_properties']['smbios']['family'] | default(vm['default_properties']['smbios']['family']) is defined }}
      {{ 'manufacturer: ' ~ vm['custom_properties']['smbios']['manufacturer'] | default(vm['default_properties']['smbios']['manufacturer']) if vm['custom_properties']['smbios']['manufacturer'] | default(vm['default_properties']['smbios']['manufacturer']) is defined }}
      {{ 'product: ' ~ vm['custom_properties']['smbios']['product'] | default(vm['default_properties']['smbios']['product']) if vm['custom_properties']['smbios']['product'] | default(vm['default_properties']['smbios']['product']) is defined }}
      {{ 'serial: ' ~ vm['custom_properties']['smbios']['serial'] | default(vm['default_properties']['smbios']['serial']) if vm['custom_properties']['smbios']['serial'] | default(vm['default_properties']['smbios']['serial']) is defined }}
      {{ 'sku: ' ~ vm['custom_properties']['smbios']['sku'] | default(vm['default_properties']['smbios']['sku']) if vm['custom_properties']['smbios']['sku'] | default(vm['default_properties']['smbios']['sku']) is defined }}
      {{ 'uuid: ' ~ vm['custom_properties']['smbios']['uuid'] | default(vm['default_properties']['smbios']['uuid']) if vm['custom_properties']['smbios']['uuid'] | default(vm['default_properties']['smbios']['uuid']) is defined }}
      {{ 'version: ' ~ vm['custom_properties']['smbios']['version'] | default(vm['default_properties']['smbios']['version']) if vm['custom_properties']['smbios']['version'] | default(vm['default_properties']['smbios']['version']) is defined }}
  {%- else %}
    {{ 'smbios: ' ~ vm['default_properties']['smbios'] if vm['default_properties']['smbios'] is defined }}
  {%- endif %}
    {{ 'started: ' ~ vm['custom_properties']['started'] | default(vm['default_properties']['started']) if vm['custom_properties']['started'] | default(vm['default_properties']['started']) is defined }}
  {%- if vm['custom_properties']['startup'] is defined %}
    startup:
      {{ 'downDelay: ' ~ vm['custom_properties']['startup']['downDelay'] | default(vm['default_properties']['startup']['downDelay']) if vm['custom_properties']['startup']['downDelay'] | default(vm['default_properties']['startup']['downDelay']) is defined }}
      {{ 'order: ' ~ vm['custom_properties']['startup']['order'] | default(vm['default_properties']['startup']['order']) if vm['custom_properties']['startup']['order'] | default(vm['default_properties']['startup']['order']) is defined }}
      {{ 'upDelay: ' ~ vm['custom_properties']['startup']['upDelay'] | default(vm['default_properties']['startup']['upDelay']) if vm['custom_properties']['startup']['upDelay'] | default(vm['default_properties']['startup']['upDelay']) is defined }}
  {%- else %}
    {{ 'startup: ' ~ vm['default_properties']['startup'] if vm['default_properties']['startup'] is defined }}
  {%- endif %}
    {{ 'stopOnDestroy: ' ~ vm['custom_properties']['stopOnDestroy'] | default(vm['default_properties']['stopOnDestroy']) if vm['custom_properties']['stopOnDestroy'] | default(vm['default_properties']['stopOnDestroy']) is defined }}
    {{ 'tabletDevice: ' ~ vm['custom_properties']['tabletDevice'] | default(vm['default_properties']['tabletDevice']) if vm['custom_properties']['tabletDevice'] | default(vm['default_properties']['tabletDevice']) is defined }}
    {{ 'tags: ' ~ vm['custom_properties']['tags'] | default(vm['default_properties']['tags']) if vm['custom_properties']['tags'] | default(vm['default_properties']['tags']) is defined }}
    {{ 'template: ' ~ vm['custom_properties']['template'] | default(vm['default_properties']['template']) if vm['custom_properties']['template'] | default(vm['default_properties']['template']) is defined }}
    {{ 'timeoutClone: ' ~ vm['custom_properties']['timeoutClone'] | default(vm['default_properties']['timeoutClone']) if vm['custom_properties']['timeoutClone'] | default(vm['default_properties']['timeoutClone']) is defined }}
    {{ 'timeoutCreate: ' ~ vm['custom_properties']['timeoutCreate'] | default(vm['default_properties']['timeoutCreate']) if vm['custom_properties']['timeoutCreate'] | default(vm['default_properties']['timeoutCreate']) is defined }}
    {{ 'timeoutMigrate: ' ~ vm['custom_properties']['timeoutMigrate'] | default(vm['default_properties']['timeoutMigrate']) if vm['custom_properties']['timeoutMigrate'] | default(vm['default_properties']['timeoutMigrate']) is defined }}
    {{ 'timeoutReboot: ' ~ vm['custom_properties']['timeoutReboot'] | default(vm['default_properties']['timeoutReboot']) if vm['custom_properties']['timeoutReboot'] | default(vm['default_properties']['timeoutReboot']) is defined }}
    {{ 'timeoutShutdownVm: ' ~ vm['custom_properties']['timeoutShutdownVm'] | default(vm['default_properties']['timeoutShutdownVm']) if vm['custom_properties']['timeoutShutdownVm'] | default(vm['default_properties']['timeoutShutdownVm']) is defined }}
    {{ 'timeoutStartVm: ' ~ vm['custom_properties']['timeoutStartVm'] | default(vm['default_properties']['timeoutStartVm']) if vm['custom_properties']['timeoutStartVm'] | default(vm['default_properties']['timeoutStartVm']) is defined }}
    {{ 'timeoutStopVm: ' ~ vm['custom_properties']['timeoutStopVm'] | default(vm['default_properties']['timeoutStopVm']) if vm['custom_properties']['timeoutStopVm'] | default(vm['default_properties']['timeoutStopVm']) is defined }}
  {%- if vm['custom_properties']['tpmState'] is defined %}
    tpmState:
      {{ 'datastoreId: ' ~ vm['custom_properties']['tpmState']['datastoreId'] | default(vm['default_properties']['tpmState']['datastoreId']) if vm['custom_properties']['tpmState']['datastoreId'] | default(vm['default_properties']['tpmState']['datastoreId']) is defined }}
      {{ 'version: ' ~ vm['custom_properties']['tpmState']['version'] | default(vm['default_properties']['tpmState']['version']) if vm['custom_properties']['tpmState']['version'] | default(vm['default_properties']['tpmState']['version']) is defined }}
  {%- else %}
    {{ 'tpmState: ' ~ vm['default_properties']['tpmState'] if vm['default_properties']['tpmState'] is defined }}
  {%- endif %}
  {%- if vm['custom_properties']['usbs'] is defined %}
    usbs:
    {%- for usb in vm['custom_properties']['usbs']  %}
      {%- set usb_data = {
        'host': usb['host'] | default(vm['default_properties']['usbs']['host']) if usb['host'] | default(vm['default_properties']['usbs']['host']) is defined,
        'mapping': usb['mapping'] | default(vm['default_properties']['usbs']['mapping']) if usb['mapping'] | default(vm['default_properties']['usbs']['mapping']) is defined,
        'usb3': usb['usb3'] | default(vm['default_properties']['usbs']['usb3']) if usb['usb3'] | default(vm['default_properties']['usbs']['usb3']) is defined,
        } %}
      {%- for k,v in usb_data.items() if v is defined %}
      {{ '- ' if loop['index0'] == 0 else '  ' }}{{ (k ~ ': ' ~ v) }}
      {%- endfor %}
    {%- endfor %}
  {%- endif %}
  {%- if vm['custom_properties']['vga'] is defined %}
    vga:
      {{ 'enabled: ' ~ vm['custom_properties']['vga']['enabled'] | default(vm['default_properties']['vga']['enabled']) if vm['custom_properties']['vga']['enabled'] | default(vm['default_properties']['vga']['enabled']) is defined }}
      {{ 'type: ' ~ vm['custom_properties']['vga']['type'] | default(vm['default_properties']['vga']['type']) if vm['custom_properties']['vga']['type'] | default(vm['default_properties']['vga']['type']) is defined }}
      {{ 'memory: ' ~ vm['custom_properties']['vga']['memory'] | default(vm['default_properties']['vga']['memory']) if vm['custom_properties']['vga']['memory'] | default(vm['default_properties']['vga']['memory']) is defined }}
  {%- else %}
    {{ 'vga: ' ~ vm['default_properties']['vga'] if vm['default_properties']['vga'] is defined }}
  {%- endif %}
    vmId: {{ vm['vmId'] }}
{% endmacro %}
