{%- from 'macros/download_file.j2' import macro_df as macro_df %}
{%- from 'vars/provider.j2' import name as provider_name %}
{%- import 'vars/download_file.j2' as download_files %}
{%- from 'vars/nodes.j2' import main as nodes %}


{%- for name in download_files['custom_properties'].keys() %}
  {%- for nodeName in nodes.keys() %}
    {%- set df = {
      'name': name,
      'nodeName': nodeName,
      'custom_options': download_files['custom_options'][name] | default({}),
      'default_options': download_files['default_options'],
      'custom_properties': download_files['custom_properties'][name] | default({}),
      'default_properties': download_files['default_properties'],
    } %}
{{ macro_df(provider_name, df) }}
  {%- endfor %}
{%- endfor %}
