{%- import 'vars/provider.j2' as provider %}


{{ provider['name'] }}:
  type: pulumi:providers:proxmoxve
  options: {}
  properties:
    {{ 'endpoint: ' ~ provider['endpoint'] if provider['endpoint'] is defined }}
    {{ 'username: ' ~ provider['username'] if provider['username'] is defined }}
    {{ 'password: ' ~ provider['password'] if provider['password'] is defined }}
    {{ 'apiToken: ' ~ provider['apiToken'] if provider['apiToken'] is defined }}
    {{ 'insecure: ' ~ provider['insecure'] if provider['insecure'] is defined }}
    {{ 'minTls: ' ~ provider['minTls'] if provider['minTls'] is defined}}
    {{ 'tmpDir: ' ~ provider['tmpDir'] if provider['tmpDir'] is defined }}
{%- if provider['ssh'] is defined %}
    ssh:
      {{ 'agent: ' ~ provider['ssh']['agent'] if provider['ssh']['agent'] is defined }}
      {{ 'agentSocket: ' ~ provider['ssh']['agentSocket'] if provider['ssh']['agentSocket'] is defined }}
  {%- if provider['ssh']['nodes'] is defined %}
      nodes:
    {%- for node in provider['ssh']['nodes'] %}
        - address: {{ node['address'] }}
          name: {{ node['name'] }}
          {{ 'port: ' ~ node['port'] if node['port'] is defined }}
    {%- endfor %}
  {%- endif %}
      {{ 'password: ' ~ provider['ssh']['password'] if provider['ssh']['password'] is defined }}
      {{ 'privateKey: ' ~ provider['ssh']['privateKey'] if provider['ssh']['privateKey'] is defined }}
      {{ 'socks5Password: ' ~ provider['ssh']['socks5Password'] if provider['ssh']['socks5Password'] is defined }}
      {{ 'socks5Server: ' ~ provider['ssh']['socks5Server'] if provider['ssh']['socks5Server'] is defined }}
      {{ 'socks5Username: ' ~ provider['ssh']['socks5Username'] if provider['ssh']['socks5Username'] is defined }}
      {{ 'username: ' ~ provider['ssh']['username'] if provider['ssh']['username'] is defined }}
{%- endif %}
