{%- from 'macros/include_with_indent.j2' import include_with_indent as include_with_indent %}
name: example
runtime: yaml
description: A minimal Pulumi YAML program
config: { "pulumi:tags": { value: { "pulumi:template": yaml } } }
outputs: {}
variables: {}
resources:
  {{ include_with_indent('provider.yaml.j2') | indent(2) }}
  {{ include_with_indent('download_file.yaml.j2') | indent(2) }}
  {{ include_with_indent('storage_file.yaml.j2') | indent(2) }}
  {{ include_with_indent('vm.yaml.j2') | indent(2) }}
