{%- import 'vars/vm.j2' as virtual_machines %}
{%- import 'vars/network.j2' as network %}
{%- set proxy_jump_host = 'gw01' ~ '.' ~ network['domain'] %}
{%- for vm_name in virtual_machines['custom_properties'].keys() 
    if network['external']['ip_plan'][vm_name] is defined
    or network['internal']['ip_plan'][vm_name] is defined %}
Host {{ vm_name }}.{{ network['domain'] }}
  StrictHostKeyChecking accept-new
  User root
  IdentityFile /salt/ssh_keys/id_ed25519
  {%- if network['external']['ip_plan'][vm_name] is defined %}
  Hostname {{ network['external']['network'].split('.')[:-1] | join('.') }}.{{ network['external']['ip_plan'][vm_name] }}
  {%- elif network['internal']['ip_plan'][vm_name] is defined %}
  Hostname {{ network['internal']['network'].split('.')[:-1] | join('.') }}.{{ network['internal']['ip_plan'][vm_name] }}
  ProxyJump {{ proxy_jump_host }}
  {%- endif %}
{%- endfor %}
