{%- from 'macros/storage_file.j2' import macro_sf as macro_sf %}
{%- from 'vars/provider.j2' import name as provider_name %}
{%- import 'vars/storage_file.j2' as storage_files %}
{%- from 'vars/nodes.j2' import main as nodes %}


{%- for name in storage_files['custom_properties'].keys() %}
  {%- for nodeName in nodes.keys() %}
    {%- set sf = {
      'name': name,
      'nodeName': nodeName,
      'custom_options': storage_files['custom_options'][name] | default({}),
      'default_options': storage_files['default_options'],
      'custom_properties': storage_files['custom_properties'][name] | default({}),
      'default_properties': storage_files['default_properties'],
    } %}
{{ macro_sf(provider_name, sf) }}
  {%- endfor %}
{%- endfor %}
